.container{
    background-color: rgba(174, 174, 174, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.miniContainer{
    background-color: rgb(238, 0, 0);
    position: absolute;
    width: 20%;
    height: fit-content;
    top: 20%;
    left: 40%;
}
.nContainer{
    background-color: #050038;
    display: flex;
    flex-direction: row;
    color: white;
    width: 70%;
    margin-top: 5%;
    padding-left: 10%;
}
.miniContainer h3, input{
    margin-left: 3%;
    margin-bottom: 5px;
}
.GenericButton2{
    margin-left: 10%;
}

@media (max-width: 600px) {
    .miniContainer{
        width: 90%;
        display: none;
    }
}