.estiloBoton {
    width: 174px;
    height: 47px;
    background: #4262ff;
    border-radius: 10px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #ffffff;
}

.estiloBoton:hover{
    background: #2643D1;
    cursor: pointer;
}
