body {
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
}
.title {
    text-align: start;
    margin-left: 10px;
}

.teamStyle{
    font-size: 18px;
}
.fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container h1 {
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: start;
    margin-left: 30px;
    margin-top: -12px;
}

.kanbanContainerCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}
.kanbanContainer {
    height: 100%;
    background: white;
    border-radius: 5px;
    width: 80%;
    margin-top: 25px;
}

.columnsContainers {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}

.buttonStyle {
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    padding-right: 15px;
}

GenericButton1 {
    margin-right: 20px;
    margin-bottom: 20px;
}
.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.userContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    font-size: xx-large;
    margin-right: 10%;
    height: fit-content;
    margin-bottom: -20px;
    align-items: center;
    align-items: flex-start;
}

.userName {
    font-size: 15px;
    width: 80px;
    text-align: center;
    
}

.shareLink {
    width: fit-content;
    height: fit-content;
    background: #ffffff;
    border: 2px solid #4262ff;
    border-radius: 10px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #4262ff;
    margin-top: 20px;
    
}
.shareLink:hover{
    cursor: pointer;
    border: 2px solid #2643D1;
    color: #2643D1;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    justify-content: center;
}
@media (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .container h1{
        margin: 0;
    }
}