.teamsContainer{ 
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 40px;
}
.teamsContainer > * {
    margin-right: 100px;
    margin-bottom: 100px;
}
.buttonContainer{
    display: flex;
    justify-content: flex-start;
} 
.buttonContainer > *{
    margin-left: 20px;
} 
.title{ 
    margin-left: 20px;
}