
.container{
    width: 100%;
    height: 100%;
}

.leftMenu {
    width: 95%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10%;
    background: #1b183d;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
hr{
    border: 10px solid #ADB3D0;
    margin-top: 50px;
}

.list {
    list-style: none;
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    height: 22vh;
    justify-content: space-around;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.list li:hover {
    cursor: pointer;
    background: #adb3d0;
    border-radius: 2px;
}
.list li{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;

}
.list li > *{
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.ListIcon{
    font-size: 1.5em;
}
.ListName{
    font-size: 20px;
}

.ListIcon:hover{
    background-color: #1b183d;
}

@media (max-width: 600px) {
    .container{
      display: flex;
      flex-direction: column;
      border-radius: 0;
      height: fit-content;
    }
    .leftMenu{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        margin-top: 0%;
        height: 10vh;
        width: 100vw;
        padding: 0;
        border-radius: 0;
    }
    .leftMenu hr{
        display: none;
    }
    .list{
        margin: 0%;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        display: flex;
        flex-direction: row;
    }
    .ListIcon{
        font-size: 2em;
        margin-right: 10px;
    }
    .ListName{
        font-size: 0.8em;
        margin-left: 5px;
        margin-right: 5px;
    }
    .list li > *{
        margin-right: 5px;
    }
  }
