.container {
    position: absolute;
    width: 22%;
    min-height: 70%;
    left: 39%;
    top: 5%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-bottom: 20px;
}
.grayContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(174, 174, 174, 0.4);
    top: 0px;
    left: 0px;
}
.container h2 {
    margin-left: 15px;
    margin-right: 15px;
}
.blueContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 85%;
    height: fit-content;
    background: #050038;
    border-radius: 0px 2px 2px 0px;
    align-items: center;
    padding-left: 15px;
}
.blueContainer h2 {
    color: white;
}
.personContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding-left: 20%;
}
.personContainer h3 {
    font-size: large;
    margin-left: 10px;
}

.cancelIcon {
    margin-left: 5px;
    padding-top: 2px;
    color: black;
    cursor: pointer;
}

.cancelIcon:hover {
    color: rgb(189, 5, 5);
}
.addParticipantDiv {
    display: flex;
    justify-content: center;
}
.gButton {
    margin-top: 20px;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin-left: 0%;
        left: 5%;
    }
}
