* {
    font-family: Sansita;
    font-style: normal;
}

.container {
    width: 95%;
    height: fit-content;
    background: #d6d6d6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.container p {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #050038;
}

.descInput {
    width: 94%;
    display: flex;
    margin-right: 8px;
    font-size: 15px;
    resize: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #f5f5f5;
    border: 1px solid #050038;
    border-radius: 2px;
}

select {
    margin-top: 6px;
    width: 47%;
    height: 25px;
    background: #f5f5f5;
    border: 1px solid #050038;
    box-sizing: border-box;
    border-radius: 5px;
}

.selectDiv {
    display: flex;
    justify-content: space-evenly;
}

.calendarStyle {
    width: 50%;
    height: 25px;
    font-size: 15px;
}

.checkwithtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    
}

.checkStyle {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.clientText{
    width: 90px;
}

.dateAndCheck {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.buttonCancel {
    display: flex;
    align-items:center;
    padding-bottom: 8px;
}

.buttonStyle {
    width: 61.59px;
    height: 23px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: #4262ff;
    border-radius: 5px;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}



.icon{
    height: 23px;
    width: 23px;
}

.icon:hover{
    cursor: pointer;
}

.notValid
{
    background-color: red;
}
