.grayContainer {
    display: flex;
    flex-direction: column;
    background-color: #cacaca;
    width: 85%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
}
.inputContainer {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.inputContainer input {
    margin-left: 0px;
    color: #909090;
    border-radius: 5px;
    font-size: 18px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    height: fit-content;
}
.notValid {
    border: 5;
    border-color: rgb(182, 37, 37);
}

.iconStyle {
    margin-left: 8px;
    cursor: pointer;
}
.iconStyle:hover {
    color: rgb(182, 37, 37);
}
