.container {
    width: 320px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.upperDiv {
    width: 100%;
    background: #050038;
    border-radius: 5px 5px 0px 0px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 20px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.whiteDiv {
    height: 83%;
    overflow-y: scroll;
}

.add {
    background-color: #ebecf0;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}

.add:hover {
    background-color: #c4c4c4;
}

.whiteDiv::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
    background-color: #ebecf0;
}

.whiteDiv::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #fefefe;
    height: 2px;
}

.completed
{
    text-decoration: line-through;
}

.hideAddTask{
display: none;
}