a {
    text-decoration: none;
}

.upperContainer {
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
    height: 100px;
}

.rightUpperPart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

.leftUpperPart {
    display: flex;
    justify-content: start;
    width: 300px;
    margin-left: 50px;
}

.inlinePart {
    display: inline-flex;
}

.estiloBoton {
    display: flex;
    width: 224px;
    height: 47px;
    background: #4262ff;
    border-radius: 60px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.estiloBoton:hover {
    background: #2643d1;
}

.tittleName {
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-right: 10px;
}

.logInText {
    font-family: Sansita;
    font-style: normal;
    font-size: 25px;
    margin: 0 auto;
    padding-top: 15px;
    line-height: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.welcomeText {
    height: fit-content;
    margin: 0 auto;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    margin-top: 150px;
    display: block;
}

.welcomeInfo {
    position: relative;
    width: 486px;
    height: fit-content;
    margin: 0 auto;
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 15px;
    color: #424242;
}

.bottomButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo {
    height: 100%;
  
}
@media (max-width: 600px) {
    .upperContainer{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 20%;
    }
    .inlinePart{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .leftUpperPart{
        align-items: center;
        justify-content: center;
        margin: 0%;
        width: 100%;
    }
    .rightUpperPart{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0%;
    }
    .rightUpperPart p{
        margin: 0%;
    }
    .welcomeInfo{
        width: fit-content;
        margin-left: 5px;
        margin-right: 5px;
    }
    .estiloBoton{
        margin-top: 15px;
    }
  }