.container {
    background-color: rgba(174, 174, 174, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.miniContainer {
    background-color: white;
    position: absolute;
    width: 20%;
    min-height: 60%;
    padding-bottom: 20px;
    top: 15%;
    left: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.nContainer {
    background-color: #050038;
    display: flex;
    flex-direction: row;
    color: white;
    width: 73%;
    margin-top: 5%;
    padding-left: 8%;
    border-radius: 0px 2px 2px 0px;
}

.iconDiv {
    width: 50px;
}

.upperIcon {
    height: 100%;
    width: 60%;
}

.title1 {
    color: white;
    font-size: 20px;
}

.GenericButton2 {
    margin-left: 10%;
}

.descInput {
    width: 87%;
    display: flex;
    margin-right: 8px;
    font-size: 18px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    background: #f5f5f5;
    border: 1px solid #050038;
    border-radius: 5px;
}

.titles {
    text-align: start;
    margin-left: 3%;
    font-size: 18px;
}

.inputStle {
    width: 87%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #f5f5f5;
    border: 1px solid #050038;
    border-radius: 5px;
    font-size: 18px;
}

.inputStyle {
    font-size: 18px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    border-radius: 5px;
}

.buttonDiv {
    margin-top: 20px;
}

.notValid {
    background-color: red;
}
