.containerBlue{
    background: #352F76;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 214px;
    height: 96px;
    display: flex;
    align-items: flex-end;
}
.container{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 214px;
    height: 71px;
}

.container h3{
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.container h3:hover
{
    background: #adb3d0;
    color: white;
    cursor: pointer;
}
.container h4{
    margin-left: 20px;
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.container div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon
{
    list-style: none;
}
.icon:hover
{
    cursor: pointer;
    height: 20px;
}