body {
    overflow-x: hidden;
}

.logoName {
    margin-left: 5px;
    font-size: 16px;   
}

.userName{
    font-size: 19px;
    margin-left: 15px;
}

.headerDiv {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.headerDiv div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: fit-content;
    margin-right: 1%;
}
.userContainer h3 {
    font-size: 1.6em;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 40px;
}

.logo {
    height: 100%;
    margin-left: 50px;
}

.listIcon{
    background-color:aqua;
}
.notificationContainer
{
    display: flex;
    flex-direction: column;
}
.notificationContainer:hover
{
   cursor: pointer;
}
@media (max-width: 600px) {
    .headerDiv{
      grid-template-areas: none;
      display: flex;
      flex-direction: row;
      height: 5vh;
    }
    .logo{
        height: 30%;
        margin-left: 5px;
        margin-right: 5px;
    }
  }